<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDAO</servlet-name>
        <servlet-class>models.UserDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDTO</servlet-name>
        <servlet-class>models.UserDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbUtils</servlet-name>
        <servlet-class>utils.DbUtils</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDAO</servlet-name>
        <url-pattern>/UserDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDTO</servlet-name>
        <url-pattern>/UserDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbUtils</servlet-name>
        <url-pattern>/DbUtils</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
